/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hindari scroll horizontal */
html,
body {
    overflow-x: hidden;
}

/* Body */
body {
    background: #0D47A1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/* Container Utama */
.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    background: #ffea8b;

    border-radius: 24px;

    min-height: 100vh;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 24px 40px;
}

.logo img {
    height: 70px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

.action button {
    background: #0D47A1;

    padding: 12px 24px;

    border-radius: 999px;

    cursor: pointer;

    transition: 0.3s;
}

.action button:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 60px;

    padding: 40px;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 84px;
    line-height: 0.95;

    font-weight: 800;

    margin-bottom: 24px;
}

.hero-content p {
    max-width: 500px;

    color: #666;

    font-size: 18px;
    line-height: 1.8;

    margin-bottom: 30px;
}

.hero-content button {
    background: #2b1b1b;
    color: white;

    border: none;

    padding: 16px 30px;

    border-radius: 999px;

    cursor: pointer;
}

.hero-image {
    flex: 1;

    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 450px;

    height: auto;
}

/* Tablet */
@media (max-width: 992px) {

    .hero-content h1 {
        font-size: 64px;
    }

    .menu {
        gap: 24px;
    }
}

/* Mobile */
@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    .container {
        border-radius: 18px;
    }

    nav {
        padding: 20px;
    }

    .menu {
        display: none;
    }

    .action {
        display: none;
    }

    .hero {
        flex-direction: column;
        text-align: center;

        padding: 20px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 48px;
        line-height: 1.1;
    }

    .hero-content p {
        max-width: 100%;
        font-size: 16px;
    }

    .hero-image {
        width: 100%;
    }

    .hero-image img {
        width: 100%;
        max-width: 280px;
    }
}